html,
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #EAE5CE;
}

code {
  font-family: 'Roboto', sans-serif;
}
