.App {
  margin: 0;
}

.login-background-container {
  width: 100%;
  height: 100%; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  flex-direction: row; 
}

.login-image {
  flex: 1; 
  max-width: 50vw;
  height: 100%;
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.image-log {
  width: 60%; 
  height: auto; 
}

.login-container {
  flex: 1; 
  max-width: 50%; 
  height: 100vh; 
  border-radius: 50px 0 0 50px; 
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  background-color: white;
}

#signup-background-container {
  flex-direction: row-reverse;
}

.login-pg-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 5rem;
  text-transform: uppercase;
}

.error-message {
  font-family: 'Fredoka', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 100%;
}

.login-button {
  background-color: #000000;
  color: #f7ebc9;
  font-size: 20px;
  border-radius: 30px;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border: none;
  cursor: pointer;
  font-family: 'Fredoka', serif;
  font-weight: 400;
  font-style: normal;
}

.input-label {
  font-family: 'Fredoka', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  color: #000;
}

.signup-link {
  font-family: 'Fredoka', sans-serif;
  font-style: normal;
  font-size: 16px;
  color: #000;
  margin-top: 20px;
}
.signup-link > span {
  color: #000;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s ease-in;
  cursor: pointer;
}
.signup-link > span:hover {
  color: #f7ebc9;
}

.login-title {
  font-family: "Acme", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000000;
}


