.posts-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 30px);
  text-align: center;
  margin-left: 12%;
}

.top-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 600px;
  height: auto;
  margin-bottom: 20px;
}

.posts-options {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 15px;
  font-size: 13px;
  cursor: pointer;
}

.custom_input {
  display: flex;
  align-items: center;
  position: relative;
  max-width: 100%;
}

.plain-textarea {
  font-size: 18px;
  padding: 20px;
  width: 90%;
  height: 600px;
  outline: none;
  background: #f8e5d3;
  color: black;
  border: 3px solid black;
  border-radius: 20px;
  box-shadow: 3px 3px 2px 0px #e2e2e2;
  transition: 0.3s ease;
  font-family: 'Roboto', sans-serif;
  resize: none;
}
.plain-textarea::-webkit-scrollbar {
  display: none;
}

.plain-textarea:focus {
  background: white;
  border: 5px solid black;
  border-radius: 10px;
}

.visibility-options {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-top: 15px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin-bottom: 50px;
}

.postPage-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.post-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 50px;
  background-color: #c1ffc7;
  border-radius: 28px;
  cursor: pointer;
  color: black;
  font-family: Arial, sans-serif;
  font-size: 17px;
  padding: 0 31px;
  text-decoration: none;
}

.delete-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 50px;
  background-color: #ffc2c2;
  border-radius: 28px;
  cursor: pointer;
  color: black;
  font-family: Arial, sans-serif;
  font-size: 17px;
  padding: 0 31px;
  text-decoration: none;
}

.posts-options h3 {
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.active-option {
  opacity: 1;
}

.inactive-option {
  opacity: 0.5;
}

.uploaded-image {
  width: 300px;
  height: 300px;
  margin-top: 20px;
  object-fit: cover;
}

.image-uploader-svg {
  cursor: pointer;
  width: 300px;
  height: 300px;
  margin-top: 20px;
}
