.posts-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.top-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 600px;
  height: auto;
  margin-bottom: 20px;
}

.posts-options {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 15px;
  font-size: 13px;
  cursor: pointer;
}

.custom_input {
  display: flex;
  align-items: center;
  position: relative;
  max-width: 100%;
}

#title-input {
  width: 92%;
  height: 50px;
  outline: none;
  background: #d9d3ce;
  color: black;
  border: 3px solid black;
  border-radius: 20px;
  box-shadow: 5px 5px 0px 0px black;
  transition: 0.3s ease;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 20px;
  font-size: x-large;
  font-weight: bold;
  overflow: hidden;
}

#title-input:focus {
  background: white;
  border: 5px solid black;
  border-radius: 10px;
  box-shadow: 10px 10px 0px 0px black;
}

#plain-textarea {
  flex: 0.8;
  width: 90%;
}

.visibility-options {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-top: 40px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin-bottom: 50px;
}

input[type='radio'] {
  box-shadow: none;
}

.postPage-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;
}

.post-button {
  width: 300px;
  border-radius: 30px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border: 2px solid #1d0700;
  background: #212529;
}
.post-button:hover {
  width: 300px;
  border-radius: 30px;
  background:#f1cc23;
  color: #292821
}

.delete-button {
  width: 300px;
  border-radius: 30px;
  height: 40px;
  color: #000000;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border: 2px solid #d9534f;
  background: #ffffff;
}

.delete-button:hover {
  background: #d9534f;
  color: #fff;
}

.posts-options h3 {
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.active-option {
  opacity: 1;
}

.inactive-option {
  opacity: 0.5;
}

#image-selection-container {
  flex: 0.8;
  width: 94%;
  background-color: #d9d3ce;
  border: 3px solid black;
  border-radius: 20px;
  box-shadow: 5px 5px 0px 0px black;
  cursor: pointer;
}

#image-selection-hint {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.5);
}

.uploaded-image {
  width: 250px;
  height: 250px;
  margin: 20px;
  object-fit: contain;
}

.image-uploader-svg {
  width: 250px;
  height: 250px;
  margin: 20px;
  object-fit: contain;
}

.top-container h1 {
  font-family: "Acme", sans-serif;
  font-weight: 400;
  color: black;
}