.authors-list-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    width: 100%;
    background-color: rgb(238, 226, 210);
    border-radius: 15px;
}

.authors-list-item {
    width: 100%; /* Ensure each list item spans full width */
    padding: 8px 0; /* Optional for vertical spacing */
    display: flex;
    align-items: center;
}