/* https://mui.com/material-ui/react-modal/ for 'Basic Modal' code from MUI, 2024-10-19 */

.comments-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  gap: 5px;
  color: grey
}

.modalBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 30em;
  padding:  2em 2em 2em 2em;
  background-color: #d8b97c;
  border: 2px solid #000;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  max-height: 80vh;
  overflow-y: auto;
  display: flex; 
  flex-direction: column; 
}


.comments-button {
  background-color: transparent;
  border: none;
  color: grey;
  cursor: pointer;
  /* max-width: 100px; */
}

.comments-text {
  font-family: 'Fredoka', sans-serif;
  color: grey;
}

#comments-modal-title {
  margin: 0 0 1em 0;
  text-align: center;
  border-bottom: 2px dashed black; 
  width: 100%;
}
.comment-textbox {
  all: unset; 
  display: block; 
  background-color: #FFFFFF; 
  width: 490px; 
  height: 100px; 
  border-radius: 37px; 
  font-family: Arial, sans-serif; 
  font-size: 16px; 
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.08);
  margin-top: auto;
  padding: 13px;
}

.comment-textbox::placeholder {
  color: #000000; 
  opacity: 50%; 
}

/* Override previous textarea style */
.comment-textbox:focus {
  border: none;
  box-shadow: none; 
}

.post-comment {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #c1ffc7;
  border-radius: 28px;
  cursor: pointer;
  color: black;
  font-family: Arial, sans-serif;
  font-size: 17px;
  text-decoration: none;
  margin-top: auto;
}

.post-comment {
  min-width: 130px;
  height: 40px;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 20px;
  border: 3px solid #212529;
  background: #C59079;
}
.post-comment:hover {
  background: rgb(235, 213, 115);
  color: #212529
}

.comment-author {
  padding-bottom: 0;
  font-weight: bold !important;
}

.comment-input-box {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  width: 100%; 
  padding-top: 25px;
  margin-top: auto;
  justify-content: space-between;
  gap: 10px;
}

.comments-container {
  max-height: 70vh; 
  overflow-y: auto; 
  overflow-x: hidden;
  width: 100%; 
  display: flex; 
  flex-direction: column; 
  align-items: flex-start; 
}

.comment-box {
  background-color: #ba9c64;
  border-radius: 16px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start; 
  text-align: left; 
  overflow: visible; 
  white-space: normal;
  padding: 10px;
  margin-bottom: 20px;
}

.comment-box p {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Author link styling */
.author-link {
  color: rgb(0, 0, 0); /* Makes the link text blue */
  text-decoration: none; /* Underlines the text */
  cursor: pointer; /* Changes the cursor to a pointer when hovering */
  font-weight: bold; /* Makes the text bold */
}

.author-link:hover {
  color: darkblue; /* Changes the link color when hovered */
  text-decoration: none; /* Removes underline on hover */
}
