/* https://mui.com/material-ui/react-modal/ for 'Basic Modal' code from MUI, 2024-10-19 */

.comments-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  gap: 5px;
  color: grey
}

.modalBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  background-color: #d8b97c;
  border: 2px solid #000;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  padding: 16px;
  border-radius: 20px;
  max-height: 80vh;
  overflow-y: auto;
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
}


.comments-button {
  background-color: transparent;
  border: none;
  color: grey;
  cursor: pointer;
  margin-top: 0.5rem;
  /* max-width: 100px; */
}

.comments-text {
  font-family: 'Fredoka', sans-serif;
  color: grey;
}

#comments-modal-title {
  text-align: center;
  border-bottom: 2px dashed black; 
  padding-bottom: 15px; 
  width: 100%;
}
.comment-textbox {
  all: unset; 
  display: block; 
  background-color: #FFFFFF; 
  width: 490px; 
  height: 100px; 
  border-radius: 37px; 
  padding: 20px; 
  margin-top: 1rem; 
  font-family: Arial, sans-serif; 
  font-size: 16px; 
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.08);
}

.comment-textbox::placeholder {
  color: #000000; 
  opacity: 50%; 
}

/* Override previous textarea style */
.comment-textbox:focus {
  border: none;
  box-shadow: none; 
}

.post-comment {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #c1ffc7;
  border-radius: 28px;
  cursor: pointer;
  color: black;
  font-family: Arial, sans-serif;
  font-size: 17px;
  padding: 0 31px;
  text-decoration: none;
  margin-top: 0.5rem;
}

.post-comment {
  min-width: 130px;
  height: 40px;
  color: black;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 20px;
  border: 3px solid #212529;
  background: #C59079;
}
.post-comment:hover {
  background: rgb(235, 213, 115);
  color: #212529
}

.comment-box {
  background-color: #ba9c64;
  border-radius: 16px;
  width: 500px;
  height: 100%;
  padding: 15px;
  display: flex;
  align-items: flex-start;
  overflow: auto;
}

.comment-input-box {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  width: 100%; 
}
