.follow-requests-column {
  width: 15rem;
  background-color: #f8e5d3;
  padding: 20px;
  border-radius: 20px;
  position: fixed;
  right: 1rem;
  top: 1rem;
  bottom: 1rem;
}

.follow-request-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

.btns {
  display: flex;
  margin-left: auto;
}

.requests-title {
  font-family: 'Fredoka', sans-serif;
  text-align: center;
  font-weight: 600;
  font-size: large;
}

.accept-button,
.reject-button {
  border: none;
  background: none;
  cursor: pointer;
  margin-bottom: -0.5rem;
}

.accept-button {
  color: rgb(87, 202, 135);
}

.reject-button {
  color: rgb(216, 134, 196);
}

/*TODO: style the actual icon, not the button e.g. black border */
