.FollowRequest-container {
  width: 100%;
}

.follow-request-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  border-top: 2px solid #000000; 
}

.btns {
  display: flex;
  margin-left: auto;
}

.requests-title {
  font-family: 'Fredoka', sans-serif;
  text-align: center;
  font-weight: 600;
  font-size: large;
  margin-bottom: 20px;
}

.follower-name {
  font-family: 'Fredoka', sans-serif;
  padding-top: 5px;
}

.accept-button,
.reject-button {
  border: none;
  background: none;
  cursor: pointer;
  margin-bottom: -0.5rem;
}

.accept-button {
    color: #00A32A;
}

.reject-button {
    color: #A30000;
}

.follower-profilePic {
  width: 50px;                
  height: 50px;     
  border: 2px solid #000000;    
  border-radius: 50%;     
  margin-right: 10px;   
}

.follower-picAndName {
  display: flex;
  flex-direction: row;
  margin: 5px;
}
