.follow-request-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

.btns {
  display: flex;
  margin-left: auto;
}

.requests-title {
  font-family: 'Fredoka', sans-serif;
  text-align: center;
  font-weight: 600;
  font-size: large;
}

.follower-name {
  font-family: 'Fredoka', sans-serif;
}

.accept-button,
.reject-button {
  border: none;
  background: none;
  cursor: pointer;
  margin-bottom: -0.5rem;
}

.accept-button {
    color: #263a28;
}

.reject-button {
    color: #522525;
}


