.follow-button {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 20px;
    border: 2px solid #212529;
    background: #212529;
  }

.follow-button:hover {
background: #fff;
color: #212529
}

.follow-button.requested {
    background: #fff; /* Background remains white */
    color: #212529;   /* Change text color for better visibility */
    border: 2px solid #212529; /* Optional: match the border color */
}