.like-button {
    background-color: transparent;
}

.like-button:hover,
.like-button:focus {
    background-color: transparent;
    outline: none;
    border: none;
    box-shadow: none;
}

.like-button .MuiSvgIcon-root {
    vertical-align: middle;
}

.like-text {
    font-family: 'Fredoka', sans-serif;
}

#liked {
    color: red;
}

#not-liked {
    color: grey;
}