.navbar-menu {
  background-color: white;
  border-right: 5px solid black;
  width: 300px;
  transition: width 0.3s;
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-header.minimized {
  justify-content: center;
}

.navbar-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: xx-large;
  text-transform: uppercase;
  margin: 20px;
}

.burger {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

.navbar-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar-list-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  margin: 20px;
  transition: background-color 0.2s;
  border-radius: 20px;
}

.navbar-list-item.minimized {
  justify-content: center;
}

.navbar-list-item.current {
  background-color: #EFC67A;
  border: 3px solid black;
}

.navbar-list-item:hover {
  background-color: #EFC67A;
}

.list-link {
  text-decoration: none;
  color: black;
}

.navbar-icon {
  display: flex;
  font-size: 48px;
  margin: 0;
}

.navbar-list-text {
  font-family: 'Fredoka', sans-serif;
  font-weight: 600;
  font-size: large;
  white-space: nowrap;
  transition: opacity 0.5s ease-in-out;
  transition-delay: 0.3s;
  opacity: 1;
  margin-left: 20px;
}

.navbar-footer {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #dbccaf;
}

.navbar-app-logo {
  position: absolute; 
  top: 25px; 
  right: 30px; 
  width: 7em; 
  height: auto; 
}