/* https://github.com/CodeCompleteYT/react-search-bar/blob/main/src/components/SearchBar.css search bar css 2024-10-18, author: CodeCompleteYT */

.input-wrapper {
  margin-top: 50px;
  background: #fff;
  height: 30px;
  border-radius: 30px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.8s;
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}

.input-wrapper:hover > .search-input{
  width: 400px;
}

.search-container .search-btn .fas{
  color: #e7e3d4;
}

@keyframes hoverShake {
  0% {transform: skew(0deg,0deg);}
  25% {transform: skew(1deg, 1deg);}
  50% {transform: skew(-3deg, -3deg);}
  100% {transform: skew(0deg,0deg);}
}

.input-wrapper:hover{
  animation: hoverShake 0.15s linear 3;
}

/* css input styling from a different file is affecting the input styling on the home page, override it  */
.input-wrapper input {
  border: none !important;
}

#search-input {
  box-shadow: none;
  background-color: transparent;
  border: none;
  height: 100%;
  font-size: 1.25rem;
  font-family: 'Fredoka', sans-serif;
  width: 100%;
  margin-left: 5px;
}

#search-input:focus {
  outline: none;
}

#search-icon {
  color: grey;
}