/* https://github.com/CodeCompleteYT/react-search-bar/blob/main/src/components/SearchResult.css search result css 2024-10-18, author: CodeCompleteYT */

.search-result {
  padding: 10px 20px;
  font-family: 'Fredoka', sans-serif;
  width: 100%;
}

.search-result:hover {
  background-color: rgba(239, 239, 239, 0.5); 
}
