

.share-button {
    background: transparent;
    border: transparent;
    display: flex;                 
    align-items: center;          
    justify-content: center;      
    cursor: pointer;  
}

.shareIcon {
    width: 24px;
    height: 24px;
    margin-right: 8px;

}

.shareTxt {
    font-family: 'Fredoka', sans-serif;
    color: grey;
}
